# Disable directory listing
Options -Indexes

# Turn on Rewrite Engine
RewriteEngine On

# Redirect /index.php to /
RewriteRule ^index\.php$ / [R=301,L]

# Force all requests to go through index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]
